* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #00000f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
header nav ul {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  justify-content: center;
}
header nav ul li a {
  text-decoration: none;
  color: #868bee;
  font-size: 37px;
  font-family: "Plantin MT Pro", sans-serif;
}
header nav ul li a:hover {
  color: #76e67d;
}

.section-principal {
  background-image: url(../assent/img/fondohome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  height: 500px;
}
.section-principal div {
  display: flex;
  justify-content: center;
}
.section-principal div h1 {
  color: black;
  font-size: 55px;
  text-shadow: 2px 2px black;
}
.section-principal div .ImagenInicio {
  display: flex;
}

.section-secundaria {
  background-color: #455899;
  display: flex;
  text-align: center;
}
.section-secundaria div h2 {
  font-size: 35px;
  color: #76e67d;
  text-shadow: 2px 2px black;
}
.section-secundaria div p {
  color: #76e67d;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

.contenedor {
  background-color: #868bee;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #00000f;
}

.sectionPrincipalTienda {
  display: flex;
  background-color: #162a4e;
  justify-content: center;
}
.sectionPrincipalTienda h2 {
  text-align: center;
  color: #76e67d;
  font-size: 25px;
  text-shadow: 2px 2px black;
}

.sectionSecundariaTienda {
  background-image: url(../assent/img/fondotienda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  height: 700px;
}
.sectionSecundariaTienda .bordeTienda {
  width: 320px;
  border: solid 2px rgba(0, 0, 0, 0.041);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.171);
}
.sectionSecundariaTienda div h3 {
  color: black;
  text-shadow: 1px 1px #76e67d;
  font-size: 20px;
}
.sectionSecundariaTienda div p {
  color: black;
  font-size: 15px;
}

.preFooter {
  display: flex;
  background-color: #00000f;
  justify-content: center;
}
.preFooter h3 {
  color: #76e67d;
  text-align: center;
}

.sectionSecundariaNovedades {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../assent/img/fondonove.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.sectionSecundariaNovedades .bordeNovedades {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgba(0, 0, 0, 0.041);
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.507);
}
.sectionSecundariaNovedades .bordeNovedades div h3 {
  color: #76e67d;
  font-size: 35px;
  text-shadow: 2px 2px black;
}
.sectionSecundariaNovedades .bordeNovedades div p {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

.tituloInicial {
  display: flex;
  background-color: #162a4e;
  justify-content: center;
}
.tituloInicial h2 {
  text-align: center;
  color: #76e67d;
  font-size: 25px;
  text-shadow: 2px 2px black;
}

.sectionSecundariaNosotros {
  background-image: url(../assent/img/fondonosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  height: 500px;
}
.sectionSecundariaNosotros p {
  color: whitesmoke;
  font-size: 20px;
  text-shadow: 2px 2px black;
  text-align: center;
  margin-top: 60px;
}

.nuestraHistoria {
  background-color: #162a4e;
}
.nuestraHistoria h1 {
  color: #d8c2ff;
  text-shadow: 2px 2px black;
  text-align: center;
}
.nuestraHistoria button {
  color: #d8c2ff;
  border-color: #d8c2ff;
  font-size: 20px;
}

.sectionSecundariaContacto {
  background-image: url(../assent/img/fondocontacto.jpg);
  height: 500px;
  display: flex;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.sectionSecundariaContacto .arqui {
  width: 600px;
}
.sectionSecundariaContacto .arqui input {
  font-size: 20px;
}

@media (max-width: 1024px) {
  .sectionPrincipal div {
    flex-direction: column;
    color: #CCFFBD;
    justify-content: center;
  }
  .sectionSecundaria {
    display: none;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .sectionPrincipal div {
    margin-top: -290px;
  }
  .sectionSecundariaNosotros p {
    font-size: 20px;
  }
  .nabvarNosotros li a {
    font-size: 20px;
  }
  .sectionPrincipalNosotros h1 {
    font-size: 25px;
  }
  .nabvar li a {
    font-size: 30 px;
  }
}
@media (max-width: 425px) {
  header {
    flex-direction: column;
  }
  .nabvar li a {
    font-size: 16px;
  }
  .sectionPrincipal div {
    margin-top: -270px;
  }
  .preFooterNosotros h3 {
    font-size: 20px;
  }
  .sectionSecundariaNosotros p {
    font-size: 15px;
  }
  .nuestraHistoria h1 {
    font-size: 15px;
  }
  .sectionSecundariaContacto .arqui {
    flex-direction: column;
    width: 200px;
  }
  .sectionSecundariaContacto .arqui input {
    font-size: 12px;
  }
  .sectionSecundariaTienda {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    max-width: 425px;
  }
  .sectionSecundariaTienda .bordeTienda {
    width: 200px;
    grid-row: span 2;
  }
  .sectionSecundariaTienda .bordeTienda img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .sectionSecundariaTienda .bordeTienda h3 {
    font-size: 20px;
    text-align: center;
  }
  .sectionSecundariaTienda .bordeTienda p {
    font-size: 20px;
    text-align: center;
  }
}
.contenedor {
  display: grid;
  grid-template-rows: repeat(1, 50px);
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3125rem;
}

.nuestraHistoria {
  display: grid;
  grid-template-rows: repeat(1, 50px);
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3125rem;
}

.section-principal div h1 {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
