@media (max-width: 1440px) {
    .sectionSecundariaContacto{
        height: 700px;
    }

    .sectionSecundariaNosotros{
        height: 700px;
       .parrafo{
        font-size: 25px;
       }
    }
}