
@media (max-width: 1024px){
    .sectionPrincipal {
        div{
        flex-direction: column;
        color: #CCFFBD;
    justify-content: center;
    }
}

    .sectionSecundaria{
        display: none;
    }

 } 