.sectionSecundariaNovedades{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../assent/img/fondonove.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
     .bordeNovedades{
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px rgba(0, 0, 0, 0.041);
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.507);
    div{
        h3{
            color: #76e67d;
            font-size: 35px;
            text-shadow: 2px 2px black;
        }
        p{
            color: white;
            font-size: 20px;
            text-shadow: 2px 2px black;
        }
    }
    }
}
