.tituloInicial{
    display: flex;
    background-color: #162a4e;
    justify-content: center;
    h2{
        text-align: center;
        color: #76e67d;
        font-size: 25px;
        text-shadow: 2px 2px black;
    }
}